@model Item;
@{
    ViewData["Title"] = "Home Page";
    var opakowania = ViewBag.Opakowania;

}
<link href="~/css/site.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' rel='stylesheet'>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .modal-backdrop {
        opacity: 0.01 !important;
    }
</style>
<header>

    <nav id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="~/Home/Index"
                   class="list-group-item list-group-item-action py-2 ripple"
                   aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i>
                </a>
                <a href="~/Home/Index"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Zlecenia</span>
                </a>
                <a href="~/MachineProcess/ProcessMachineSelecting"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>Zamówienia</span>
                </a>
                <a href="~/Home/Warehouse"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>Magazyn</span>
                </a>
            </div>
        </div>
    </nav>
    <nav id="main-navbar"
         class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">
                <img src="~/Logo.png" />
            </a>
            <a id="customButton" role="button" style="float:right" class="btn btn-success" asp-action="Logout" asp-controller="Home">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>

    </nav>

</header>
<main style="margin-top: 130px">
    <div class="container" style="width:100%">
        <div class="form-group">
            <a style="margin-bottom: 10px; color: white" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#zlecenie">Dodaj zlecenie</a>
        </div>

        <div class="form-group">
            <table id="zlecenia" class="table table-striped table-bordered display" style="width:100%;margin-top:50px;">
                <thead>
                    <tr>
                        <th style="text-align: center"></th>
                        <th id="valueBinNumber">Nr. zlecenia</th>
                        <th id="valueBinStatus">Nazwa produktu</th>
                        <th id="processName">Ilość (kg)</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="modal fade" id="zlecenie" backdrop="static" keyboard="false" tabindex="-1" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Nowe zlecenie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeNewZlecenie" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="NoweZlecenie" method="Post" id="noweZlecenie">
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="Numer zlecenia" required asp-for="NrZlecenia" min="2000000" max="3000000" id="nrZlecenia" />
                                <span id="warningText" style="color:red; font-size:small; font-style:normal"></span>
                            </div>
                            <div class="form-group">
                                <select id="recipies" class="form-select" asp-items="@ViewBag.Recipies" required asp-for="RecipesName">
                                    <option value="-1">Wybierz recepture</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input id="count" class="form-control" type="number" placeholder="Iłość (kg)" required min="500" max="3000" asp-for="Count" />

                            </div>
                            <div class="form-group">
                                <select id="recipies" class="form-select" asp-items="@ViewBag.Opakowania" required asp-for="Opakowanie">
                                    <option value="-1">Wybierz opakowanie</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="recipies" class="form-select" asp-items="@ViewBag.Dekel" required asp-for="PokrywaNekrętka">
                                    <option value="-1">Pokrywa/Nakrętka</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="recipies" class="form-select" asp-items="@ViewBag.Naklejka" required asp-for="Naklejka">
                                    <option value="-1">Etykieta</option>
                                </select>
                            </div>
                            <div class="form-group" id="buttonsSection">
                                <div class="col text-center">
                                    <input type="submit" value="Save" id="submitButton" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="details" backdrop="static" keyboard="false" tabindex="-1" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Szczegóły zlecenia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="Reset($('#numerMaterialu'))" id="closeZlecenie" aria-label="Close"></button>

                </div>

                <div class="modal-body">

                    <form id="zlecenieDetails">

                        <div class="modal-body">

                            <div class="form-group">
                                <span>Numer zlecenia:</span>
                                <input class="form-control" readonly id="detailsNrZlecenia" />
                            </div>
                            <div class="form-group">
                                <span>Receptura:</span>
                                <input class="form-control" readonly id="detailsReceptura" />
                            </div>
                            <div class="form-group">
                                <span>Ilość:</span>
                                <input id="totalCount" class="form-control" readonly />

                            </div>
                            <div class="form-group" id="surowce">
                                <span>Surowce:</span>
                                <table class="table table-bordered table-hover" id="tableSurowce">
                                    <tbody id="numerMaterialu">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal fade" id="alertModal" style="height: min-content; margin-top:-30px !important;" tabindex="-1" aria-labelledby="title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" id="dialog">
                                <div class="modal-content" style="background-color: transparent;border:none">

                                    <div class="modal-body" style="background-color: transparent">
                                        <p style="text-align: center; color: green; ">Copied</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</main>




@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.jqueryui.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var regExp = /[0-9][0-9][0-9][0-9][0-9][0-9][0-9]/;
        var button = document.getElementById("addList");
        var number = document.getElementById('numberCount');
        var num = 1;
        $(document).ready(function () {
            $('#zlecenie').modal({ backdrop: 'static', keyboard: false });
            $('#details').modal({ backdrop: 'static', keyboard: false });
            $('#closeNewZlecenie').click(function () {
                document.getElementById('noweZlecenie').reset();
            })
            daTable = $('#zlecenia').DataTable({
                dom: 'Bfrtip',
                ajax: {
                    url: '/Home/GetZlecenia',
                    type: 'GET',
                    dataSrc: ''
                },
                rowId: 'Id',
                order: [[1, 'asc']],
                columnDefs: [
                    { className: 'dt-body-center', targets: [0, 1, 2, 3, 4] },
                    {
                        targets: [1, 2, 3, 4],
                        className: 'dt-head-center'
                    },
                    {
                        targets: 0,
                        width: '7%'
                    },
                    {
                        targets: [1, 2],
                        width: '25%'
                    },
                    {
                        targets: [3],
                        width: '13%'
                    },
                    {
                        targets: [4],
                        width: '30%'
                    }
                ],
                columns: [
                    { data: null, "sortable": false },
                    { data: "nrZlecenia" },
                    { data: "recipesName" },
                    { data: "count" },
                    {
                        data: "id", "render": function (data) {
                            return "<div style='width:100%; position: center'><div class='btn-group' role='group' id='groupButton'><a class='btn btn-success btn-small' style = 'height: 5%; margin-left: 5px; margin-right: 5px;' data-toggle='modal' onclick='Details(" + data + ")'>Szczegóły</a><a class='btn btn-danger btn-small' style='height: 5 %' onclick=Delete(" + data + ") id='Delete' >Usuń zlecenie</a></div ></div >"
                        },
                        orderable: false,
                        searchable: false,
                        width: "150px"
                    }
                ]
            });
            $('#zlecenia').DataTable().on('order.dt search.dt', function () {
                $('#zlecenia').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
            document.getElementById('nrZlecenia').addEventListener('keyup', function () {
                $.ajax({
                    type: 'Get',
                    url: '~/Home/GetZlecenie' + this.value,
                    success: function (data) {
                        if (data['result'] = true) {
                            $('#warning').text("Zlecenie zrealizowane!")
                        }
                        else {
                            $('#warning').text("")
                        }
                    }
                })
            });
        })
        function Reset(input) {
            input.empty();
        }
        function Add(input) {
            var opakowania = new Array();
            $.ajax({
                type: 'Post',
                async: false,
                url: '/Home/Opakowania',
                success: function (data) {
                    opakowania = data;
                }
            })
            if (parseInt(input.value) < 4) {
                $('#addList').removeAttr('hidden');
                var count = parseInt(input.value) + 1;
                input.value = count;
                var new_list = "<div class='form-group'><select class='form-select' id='new_" + count + "'></select></div>";
                $('#addItem').append(new_list);
                $.each(opakowania, function (index, value) {
                    $('#new_' + count).append("<option value='" + value + "'>" + value + "</option>");
                })
                $('#remove').removeAttr('hidden');
                if (parseInt(input.value) == 4) {
                    document.getElementById('addList').hidden = true;
                }
            } else {
                document.getElementById('addList').hidden = true;
            }
        }
        function Remove(input) {
            var value = parseInt(input.value);
            if (value > 1) {
                input.value = value - 1;
                $('#new_' + value).remove();
                $('#addList').removeAttr('hidden');
                $('#remove').removeAttr('hidden');
                if (value == 2) {
                    document.getElementById('remove').hidden = true;
                }
            }
            else {
                document.getElementById('remove').hidden = true;
            }
        }
        function AddList(input) {
            var value = parseInt(input.value);
            if (value == 1) {
                $('#opakowanie').removeAttr('hidden');
                input.value = value + 1;
                document.getElementById('remove').hidden = false;
            }
            else if (value == 2) {
                $('#pokrywa').removeAttr('hidden');
                input.value = value + 1;
                document.getElementById('remove').hidden = false;
            }
            else if (value == 3) {
                $('#naklejka').removeAttr('hidden');
                document.getElementById('add').hidden = true;
                document.getElementById('remove').hidden = false;
            }
            else {
                document.getElementById('opakowanie').hidden = true;
                document.getElementById('pokrywa').hidden = true;
                document.getElementById('naklejka').hidden = true;
                document.getElementById('add').hidden = true;
            }
            /*
                if (value = 2) {
                $('#opakowanie').removeAttr('hidden');
            }
            else if (value = 3) {
                $('#pokrywa').removeAttr('hiidden');
            }
            else if (value = 4) {
                $('#naklejka').removeAttr('hidden');
            }
            else {
                document.getElementById('opakowanie').hidden = true;
                document.getElementById('pokrywa').hidden = true;
                document.getElementById('naklejka').hidden = true;
            }
              */
        }
        function RemoveList(input) {
            var value = parseInt(input.value);
            if (value == 2) {
                document.getElementById('pokrywa').hidden = true;
                document.getElementById('add').hidden = false;
                input.value = value - 1;
                //document.getElementById('remove').hidden = true;
            }
            else if (value == 1) {
                document.getElementById('opakowanie').hidden = true;
                document.getElementById('add').hidden = false;
                document.getElementById('remove').hidden = true;
            }
            else if (value == 3) {
                document.getElementById('naklejka').hidden = true;
                input.value = value - 1;
            }
        }
        function Details(id) {
            $.ajax({
                type: 'Get',
                url: '/Home/Details/' + id,
                success: function (data) {
                    $('#details').modal('show');
                    $('#detailsNrZlecenia').val(data['details']['nrZlecenia']);
                    $('#detailsReceptura').val(data['details']['recipesName']);
                    $('#totalCount').val(data['details']['count']);
                    /*
                    for (var i = 0; i < data['opakowania'].length; i++) {
                        $('#numerMaterialu').append("<tr><td id='matNumber_" + i + "' onclick='Copy($(this))'>" + data['opakowania'][i]['materialNumber'] + "</td><td>" + data['opakowania'][i]['name'] + "</td></tr>");
                    }
                    for (var i = 0; i < data['ingredients'].length; i++) {
                        $('#numerMaterialu').append("<tr><td id='matNumber__" + i + "' onclick='Copy($(this))'>" + data['ingredients'][i]['materialNumber'] + "</td><td>" + data['ingredients'][i]['name'] + "</td></tr>");
                    }
                   */
                    $.each(data['items'], function (index, value) {
                        if (data['items'][index]['item1'] != 0) {
                            $('#numerMaterialu').append("<tr><td id='matNumber_" + index + "' onclick='Copy($(this))'>" + data['items'][index]['item1'] + "</td><td>" + data['items'][index]['item2'] +
                                "</td><td>" + data['items'][index]['item3'] + ' kg ' + "</td></tr>");
                        } else {
                            $('#numerMaterialu').append("<tr><td>" + '-' + "</td><td>" + data['items'][index]['item2'] + "</td><td>" + data['items'][index]['item3'] + ' kg ' + "</td></tr>");
                        }
                    })
                    $.each(data['opakowania'], function (index, value) {
                        $('#numerMaterialu').append("<tr><td id='matNumber__" + index + "' onclick='Copy($(this))'>" + data['opakowania'][index]['materialNumber'] + "</td><td>" + data['opakowania'][index]['name'] +
                            "</td><td>" + data['details']['ilośćOpakowań'] + ' szt. ' + "</td></tr>");
                    })
                }
            })
        }
        function Copy(input) {
            var result = input.select();
            navigator.clipboard.writeText(result.text());
            $('#alertModal').modal('show');
            setTimeout(function () {
                $('#alertModal').modal('hide');
            }, 1500);
        }
    </script>
}