@model Item;
@{
}
<div class="modal fade" id="zlecenie" tabindex="-1" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Nowe zlecenie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeZlecenie" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="NoweZlecenie" method="Post" id="noweZlecenie">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="number" required asp-for="NrZlecenia" min="2000000" max="3000000" id="nrZlecenia" />
                            <span id="warningText" style="color:red; font-size:small; font-style:normal"></span>
                        </div>
                        <div class="form-group">
                            <select id="recipies" class="form-select" asp-items="@ViewBag.Recipies" required asp-for="RecipesName">
                                <option value="-1">Select recipe</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="count" class="form-control" type="number" required min="500" max="3000" asp-for="Count" />
                        </div>
                        <div id="addItem">

                        </div>
                        <div class="form-group">
                            <input id="numberCount" type="hidden" value="1" />

                            <a class="btn btn-primary" id="addList" onclick="Add(document.getElementById('numberCount'))">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                            <a class="btn btn-primary" hidden id="remove" onclick="Remove(document.getElementById('numberCount'))">Remove</a>
                        </div>
                        <div class="form-group" id="buttonsSection">
                            <div class="col text-center">
                                <input type="submit" value="Save" id="submitButton" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>