@{
    ViewData["Title"] = "Warehouse";

}
<link href="~/css/site.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' rel='stylesheet'>

<header>

    <nav id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="~/Home/Index"
                   class="list-group-item list-group-item-action py-2 ripple"
                   aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i>
                </a>
                <a href="~/Home/Index"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Zlecenia</span>
                </a>
                <a href="~/MachineProcess/ProcessMachineSelecting"
                   class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>Zamówienia</span>
                </a>
                <a href="~/Home/Warehouse"
                   class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>Magazyn</span>
                </a>
            </div>
        </div>
    </nav>
    <nav id="main-navbar"
         class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">
                <img src="~/Logo.png" />
            </a>
            <a id="customButton" role="button" style="float:right" class="btn btn-success" asp-action="Logout" asp-controller="Home">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>

    </nav>
</header>
<main style="margin-top: 130px">
    <div class="container" style="width:100%">
        <div class="form-group">
            <table class="table table-striped table-bordered display" id="warehouse">
                <thead>
                    <tr>
                        <th id="nMaterialu">Nr. materialu</th>
                        <th id="nazwa">Nazwa produktu</th>
                        <th id="count">Ilość (kg/szt.)</th>
                        <th id="dataZamówienia">Data zamówienia</th>
                        <th id="dataRealizacji">Data realizacji</th>
                        <th id="status">Status zamówienia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>
        </div>
    </div>
</main>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.jqueryui.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            warehouseTable = $('#warehouse').DataTable({
                dom: 'Bfrtip',
                ajax: {
                    url: '/Home/GetOrdersForWarehouse',
                    type: 'GET',
                    dataSrc: ''
                },
                rowId: 'Id',
                columnDefs: [
                    { className: 'dt-body-center', targets: [0, 1, 2, 3, 4, 5, 6] },
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6],
                        className: 'dt-head-center'
                    },
                    {
                        targets: 0,
                        width: '15%'
                    },
                    {
                        targets: 1,
                        width: '20%'
                    },
                    {
                        targets: [2, 3, 4, 5],
                        width: '10%'
                    },
                    {
                        targets: [6],
                        width: '15%'
                    }

                ],

                columns: [
                    { data: "item1" },
                    { data: "item2" },
                    { data: "item3" },
                    { data: "item6" },
                    { data: "item7" },
                    { data: "item4" },
                    {
                        data: "item5", "render": function (data) {
                            var result = null;
                                $.ajax({
                                type: 'Get',
                                url: '/Home/GetStatus/' + parseInt(data),
                                async: false,
                                success: function (data) {
                                    result = data;
                                    }
                                })
                            if (result == "W trakcie realizacji") {
                                return "<div class='dropdown'><button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenu' data-bs-toggle='dropdown' aria-expanded='false'>Zmień status</button><ul class='dropdown-menu' aria-labelledby='dropdownMenu'><li><a class='dropdown-item' onclick='Status(" + data + ")'>Dostarczone</a></li></ul></div>"
                            }
                            else if (result == "Dostarczone") {
                                return "<div><a class='btn btn-danger btn-small' style='height: 5 %' onclick='Delete(" + data + ")'>Usuń</a></div>";
                            }
                            else {
                                alert(data.responseText);
                            }
                        },
                        orderable: false,
                        searchable: false,
                        width: "150px"
                    }
                ]
            });
        })
        function Status(id) {

            $.ajax({
                type: 'Post',
                url: '@Url.Action("ZmianaStatusu", "Home")/'+ id,
                success: function (response) {
                    $('#warehouse').DataTable().ajax.reload();
                  //  $('#orders').DataTable().ajax.reload();

                },
                failure: function (response) {
                    alert('Some error occured!');
                },
                error: function (response) {
                    alert('Some error occured!');
                }
            })

        }
        function Delete(id) {
            $.ajax({
                type: 'Post',
                url: 'Home/DeleteOrder/' + id,
                success: function (data) {
                    $('#warehouse').DataTable().ajax.reload();
                }

            })
        }

    </script>
}