@model Ingredients_order.Models.AttachedStringNamesModel
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="modal-content" style="width:400px;height:200px;position:center">
    <form asp-action="BinAttachment" method="Post">
        <div class="modal-body">
            <div class="form-group">
                <select id="processList" class="form-select" asp-items="@ViewBag.Processes" asp-for="ProcessName">
                    <option value="-1" id="defaultOption">Select process</option>
                </select>
            </div>
            <div class="form-group">
                <select id="machinesList" class="form-select" hidden asp-for="MachineName"></select>

            </div>
            <div class="form-group">
                <input id="binAdding" class="form-control" hidden asp-for="BinNumber" />
                <span id="warning" style="color:red; font-size:small; font-style:normal"></span>
            </div>
            
            <div class="form-group" id="buttonsSection" hidden>
                <div class="center">
                    <input type="submit" value="Submit" id="submitButton" disabled style="position:center" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </form>
    <div class="card text-white bg-danger mb-3" style="max-width:100%;" id="attached" hidden>
        <div class="card-body">
            <h5 class="card-title">This bin is currently using</h5>
            <br />
            <span>Process</span>
            <input class="form-control" id="process" disabled />
            <br />
            <span>Machine</span>
            <input class="form-control" id="machine" disabled />
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 100%;" id="freeToUse" hidden>
        <div class="card-body">
            <h5 class="card-title">Free to use</h5>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#processList').on('change', function () {
                $.ajax({
                    method: 'Get',
                    url: '/Home/Machines',
                    data: { 'processModelId': $('#processList').val() },
                    success: function (data) {
                        if ($('#processList option:selected').val() != -1) {
                            $('#machinesList').removeAttr('hidden');
                            var items = '';
                            $(data).each(function () {
                                items += "<option value=" + this.value + ">" + this.text + "</option>";
                            })
                            $('#machinesList').html(items);
                            if ($('#machinesList option:selected')) {
                                $('#binAdding').removeAttr('hidden');
                                $('#buttonsSection').removeAttr('hidden')
                            }
                        } else {
                            $('#machinesList').attr('hidden', 'true');
                            $('#binAdding').attr('hidden', 'true');
                            $('#buttonsSection').attr('hidden', 'true');
                        }

                    }
                })
            })
            document.getElementById("binAdding").addEventListener('keyup', function (e) {
                BinCheking();
            })
        })
        function BinCheking() {
            var binNumber = document.getElementById('binAdding').value;
            var attached = document.getElementById('attached');
            var free = document.getElementById('freeToUse');
            var process = document.getElementById('process');
            var machine = document.getElementById('machine');
            var button = document.getElementById('submitButton');
            $.ajax({
                type: 'Get',
                url: '@Url.Action("BinStatus", "Home")',
                dataType: 'json',
                data: { 'binNumber': binNumber },
                success: function (data) {
                   
                    if (data['status'] == "Free to use") {
                        if (binNumber.length == 12) {
                            free.removeAttribute('hidden');
                            button.removeAttribute('disabled');
                            $('#warning').text("");
                        }
                        else {
                            attached.hidden = true;
                            free.hidden = true;
                            button.disabled = true;
                            $('#warning').text("");
                        }
                    }
                    else if (data['status'] == "Filling"){
                        if (binNumber.length == 12) {
                            attached.removeAttribute('hidden');
                            process.value = data['process'];
                            machine.value = data['machine'];
                            $('#warning').text("");
                            free.hidden = true;
                        }
                    }
                    else if (data['status'] == null || binNumber.length != 12) {
                        $('#warning').text("Please, check bin number!");
                        attached.hidden = true;
                        free.hidden = true;
                        button.disabled = true;
                    }
                    else {
                        attached.hidden = true;
                        free.hidden = true;
                        button.disabled = true;
                        $('#warning').text("");
                    }                    
                }
            })
        }
    </script>
}